<main class="flex-container" role="main" >
  <section id="main-section">
        <h3 class="website-title">Memory Quiz</h3><br>
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
          <div class="form-group">
           <label>Email</label>
           <input type="text" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
           <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
              <div *ngIf="f.email.errors.required">Veuillez entrer un email.</div>
           </div>
          </div>
          <div class="form-group">
           <label>Password</label>
           <input type="password" formControlName="password" class="form-control"  [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
            <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
              <div *ngIf="f.password.errors.required">Veuillez entrer un mot de passe.</div>
           </div>
         </div>
         <button [disabled]="loading" class="btn btn-primary">
            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
            Connexion
          </button>
          <p>ou <a routerLink="/register">S'inscrire</a></p>
         <div *ngIf="error" class="alert alert-danger mt-3 mb-0">{{error}}</div>
        </form>
  </section>
</main>

