.flex-container{
  color: black;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

#main-section{
  margin-top: 5%;
  width: 80%;
  background-color: white;
  border-radius: 40px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}


select{
  border-radius: 40px;
  border-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  cursor:pointer;
  appearance: none;
  width: 200px;
  height: 45px;
  padding: 5px;

}

table,th,td{
  border:none;
}


button{
  margin-bottom: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: #4175ba;
  border-color: #4175ba;
}

#nouveauJoueur{ width: 200px;}


h5{ margin:20px }

